include ../model/model.jade
h1 Testing Web Document
h2 Valid Localized Web Document
-
    let mockWebDocument = new WebDocument({
        headline: "Test Valid Localized Web Document",
        description: "A mock object used for testing purposes",
        path: ["fr-CA", "category", "valid-localized-web-document"],
        changeFrequency: "yearly",
        priority: "0.7"
    });
p Document headline: #{mockWebDocument.headline}.
p Document description: #{mockWebDocument.description}.
p Document path: #{JSON.stringify(mockWebDocument.path)}.
p Document relative path: #{mockWebDocument.relativePath}.
p Document URL: #{mockWebDocument.url}.
p Document locale slug: #{mockWebDocument.localeSlug}.
p Document locale:
details: pre!=JSON.stringify(mockWebDocument.locale, null, "\t")
//p Document directory data: #{mockWebDocument.directoryData}.
p Document change frequency: #{mockWebDocument.changeFrequency}.
p Document priority: #{mockWebDocument.priority}.