//- Fetch the titles for the aria-label property of the social media icons.
-
    var titles;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        titles = localeVariables.secondaryNavigation.socialTitles;
    }
    var backgroundIcon = "fa-square";

//- Adds a linked icon to a social media.
    @param {String} label the value of the aria-label property of the icon.
    @param {String} href the link of the icon.
    @param {String} icon the FontAwesom icon class of the social media.
mixin socialLink(label, href, icon)
    if href && icon
        if label
            a(
                href!=href
                target='_blank'
                rel='nofollow noopener'
                aria-label!=label
            )
                +iconStackButton(icon, backgroundIcon)
        else
            a(
                href!=href
                target='_blank'
            )
                +iconStackButton(icon, backgroundIcon)

//- Provides the social media links at the footer of the website.
if titles
    ul.social-links
        //- RSS feed icon
        li: +socialLink(
            titles.rss, 
            '/' + Current.localeSlug() + "/feed.xml", 
            "fa-rss"
        )

        //- Facebook page icon
        li: +socialLink(
            titles.facebook, 
            "https://www.facebook.com/" + Site.profiles().facebook, 
            "fa-facebook"
        )

        //- Twitter feed icon
        li: +socialLink(
            titles.twitter, 
            "https://twitter.com/" + Site.profiles().twitter, 
            "fa-twitter"
        )

        //- Google+ profile icon
        li: +socialLink(
            titles.googlePlus, 
            "https://plus.google.com/" + Site.profiles().googlePlus, 
            "fa-google-plus"
        )

        //- Github profile icon
        li: +socialLink(
            titles.github, 
            "https://github.com/" + Site.profiles().github, 
            "fa-github"
        )

        //- Email icon
        li: +socialLink(
            titles.email, 
            "mailto:" + Site.profiles().mail.replace("@", "&#064;"), 
            "fa-envelope"
        )