include /_jade/redaction/_redaction

p L'ellipse en tant que section conique correspond à une tranche oblique d'un cône. C'est un ensemble de points particulier qui, contrairement au cercle, comprend deux points importants nommés foyers. L'ellipse est une figure géométrique remarquable qui permet de modéliser l'orbite des planètes.

p Étudions analytiquement l'ellipse en tant que section conique.

+definition("Le lieu géométrique de l'ellipse")
    p L'ellipse correspond à l'ensemble des points dont la somme des distances à deux points fixes, appelés foyers, est constante.

+h(2, "L'équation cartésienne de l'ellipse")

    p Partant du #[+refDefinition(0) lieu géométrique de l&#39;ellipse] posons les points distincts #[+e() F_1] et #[+e() F_2] comme foyers et le point #[+e() P=(x,y)] sur la courbe de l'ellipse. Soit #[+e() 2c,] la distance #[+e() \overline{F_1F_2}] entre les deux foyers, telle que #[+e() c\gt 0]. En vertu du théorème de Pythagore, il est possible d'exprimer les distances #[+e() \overline{PF_1}] et #[+e() \overline{PF_2}] à l'aide de la formule de la distance entre deux points. Pour simplifier les démarches, posons #[+e() O=(0,0)] comme le point milieu du segment #[+e() \overline{F_1F_2},] et l'ordonnée des foyers à #[+e() 0,] de telle sorte que #[+e() F_1=(-c,0)] et #[+e() F_2=(c,0).] Considérons les coordonnées de #[+e() P] lorsqu'il se retrouve dans l'axe décrit par la droite #[+e() \overline{F_1F_2},] en ce sens lorsque #[+e() y=0.] S'il existe un point #[+e() P=(x,0)] sur la courbe de l'ellipse tel que #[+e() x\in[-c,c],] alors il est impossible que #[+e() y] soit différent de #[+e() 0] pour l'ensemble des points respectant le #[+refDefinition(0) lieu géométrique de l&#39;ellipse] puisque la somme des distances #[+e() \overline{PF_1}] et #[+e() \overline{PF_2}] augmenterait. Par conséquent, pour #[+e() P=(x,0)] sur la courbe de l'ellipse, #[+e() x\in&#93;-\infty,-c[\cup]c,\infty&#91;.] En d'autres mots, il ne peut pas exister à la fois deux points sur la courbe de l'ellipse dont un est compris sur le segment de droite #[+e() \overline{F_1F_2}.]

    +fig("construction-de-lellipse-dimension-axes-non-nulle.svg").
        Première partie de la construction de la preuve de l'équation de l'ellipse, illustrant que l'ellipse doit avoir des dimensions horizontale et verticale non nulles.

    p À la suite de notre construction, soit #[+e() d\gt 0.] Si #[+e() x=c+d,] de sorte que #[+e() x\gt c,] alors le point #[+e() P=(x,0)] existe sur la courbe de l'ellipse et se retrouve à droite du foyer #[+e() F_2.] Il devient alors possible d'exprimer la formule des longueurs entre le point #[+e() P] et les foyers.
    
    +eq().
        \overline{PF_1}&=|x_P-x_{F_1}|
        \\&=|c+d-(-c)|
        \\&=2c+d

    
    +eq().
        \overline{PF_2}&=|x_P-x_{F_2}|
        \\&=|c+d-c|
        \\&=d

    p Par conséquent, la somme des distances entre le point #[+e() P] et les foyers #[+e() F_1] et #[+e() F_2,] qui est constante, vaut #[+e() 2c+d+d=2c+2d.] Considérons maintenant les coordonnées du point #[+e() P=(x,y)] lorsqu'il se retrouve dans l'axe perpendiculaire à celui décrit par #[+e() \overline{F_1F_2}] au point milieu #[+e() O,] en ce sens lorsque #[+e() x=0.] Si #[+e() y=0,] alors #[+e() \overline{PF_1}+\overline{PF_2}=2c\lt 2c+2d.] Conséquemment, la valeur de #[+e() y] doit forcément être différente de #[+e() 0,] ce qui veut dire qu'il faudra construire des triangles rectangles en #[+e() O] isométriques #[+e() \triangle F_1OP] et #[+e() \triangle F_2OP] pour décrire les segments #[+e() \overline{PF_1}] et #[+e() \overline{PF_2}] à l'aide de leur hypoténuse. Soit #[+e() b,] la longueur de la petite cathète, qui se trouve sur l'axe des ordonnées, et soit #[+e() a,] la longueur d'une des hypoténuses. Le théorème de Pythagore stipule pour cette situation que #[+e() c^2+b^2=a^2.] En vertu du #[+refDefinition(0) lieu géométrique de l&#39;ellipse,] #[+e() \overline{PF_1}+\overline{PF_2}=2a=2c+2d.] Par conséquent, #[+e() 2a] correspond à la longueur du grand axe de l'ellipse, reliant les points #[+e() (-c-d, 0)] et #[+e() (c+d,0)]. La valeur de #[+e() 2b,] quant à elle, correspond à la longueur du petit axe de l'ellipse.

    +fig("construction-de-lellipse-relation-de-pythagore.svg").
        Seconde partie de la construction de la preuve de l'équation de l'ellipse, illustrant la relation de Pythagore reliant les composantes de l'ellipse.

    p Nous venons de prouver que toutes ellipses comprennent des dimensions horizontale #[+e() 2a] et verticale #[+e() 2b] non-nulles, et que #[+e() \overline{PF_1}+\overline{PF_2}=2a] si #[+e() 2a] est leur plus grand axe. En récapitulatif, soit #[+e() P=(x,y),] #[+e() F_1=(-c,0),] #[+e() F_2=(c,0)] et #[+e() c^2+b^2=a^2.] Il ne reste plus qu'à travailler l'équation du lieu géométrique pour en dégager celle d'une ellipse.

    +eq().
        2a&=\overline{PF_1}+\overline{PF_2}
        \\&=\sqrt{(x_P-x_{F_1})^2+(y_P-y_{F_1})^2}+\sqrt{(x_P-x_{F_2})^2+(y_P-y_{F_2})^2}
        \\&=\sqrt{(x--c)^2+(y-0)^2}+\sqrt{(x-c)^2+(y-0)^2}
        \\2a&=\sqrt{(x+c)^2+y^2}+\sqrt{(x-c)^2+y^2}
        \\\sqrt{(x-c)^2+y^2}&=2a-\sqrt{(x+c)^2+y^2}
        \\\left(\sqrt{(x-c)^2+y^2}\right)^2&=\left(2a-\sqrt{(x+c)^2+y^2}\right)^2
        \\(x-c)^2+y^2&=4a^2-4a\sqrt{(x+c)^2+y^2}+(x+c)^2+y^2
        \\(x-c)^2-(x+c)^2&=4a^2-4a\sqrt{(x+c)^2+y^2}
        \\-4cx&=4a\left(a-\sqrt{(x+c)^2+y^2}\right)
        \\\dfrac{-c}{a}x-a&=\sqrt{(x+c)^2+y^2}
        \\\left(\sqrt{(x+c)^2+y^2}\right)^2&=\left(\dfrac{-c}{a}x-a\right)^2
        \\(x+c)^2+y^2&=\dfrac{c^2}{a^2}x^2+2a\dfrac{c}{a}x+a^2
        \\x^2+2cx+c^2+y^2&=\dfrac{c^2}{a^2}x^2+2cx+a^2
        \\x^2+c^2+y^2&=\dfrac{c^2}{a^2}x^2+a^2
        \\a^2x^2+a^2c^2+a^2y^2&=c^2x^2+a^4
        \\a^2x^2-c^2x^2+a^2y^2&=a^4-a^2c^2
        \\x^2(a^2-c^2)+a^2y^2&=a^2(a^2-c^2)
        \\b^2x^2+a^2y^2&=a^2b^2\because c^2+b^2=a^2

    p En divisant de part et d'autre l'équation par #[+e() a^2b^2,] on obtient l'équation d'une ellipse centrée à l'origine.

    +theorem("L'équation d'une ellipse centrée à l'origine")
        p L'équation d'une ellipse #[+e() E] centrée à l'origine de largeur #[+e() 2a] et de hauteur #[+e() 2b] s'exprime:
        +leq("ellipse-centre-o") E:\dfrac{x^2}{a^2}+\dfrac{y^2}{b^2}=1.
        p #[+e() x,] #[+e() y,] #[+e() a] et #[+e() b] étant des réels, #[+e() a\gt 0,] #[+e() b\gt 0,] #[+e() a\neq b,] #[+e() -a\leq x\leq a] et #[+e() -b\leq y\leq b.]
        +fig("ellipse-centre-o.svg").
            L'ellipse centrée à l'origine dans le plan cartésien.
    
    p Les paramètres #[+e() a] et #[+e() b] de l'équation #[+eqref("ellipse-centre-o")] sont positifs et non-nuls puisqu'ils correspondent à des grandeurs géométriques de l'ellipse. Il faut que #[+e() a] soit différent de #[+e() b,] puisque dans le cas contraire, l'équation décrirait un cercle d'équation #[+e() x^2+y^2=r^2.]

    p Une ellipse définie par l'équation #[+eqref("ellipse-centre-o")] est centrée à l'origine. Il va donc de soi que son domaine soit #[+e() [-a,a]] puisqu'il s'agit de l'intervalle où on retrouve l'axe horizontal de l'ellipse de longueur #[+e() 2a.] Pour le démontrer, il suffit d'isoler #[+e() y] dans l'équation #[+eqref("ellipse-centre-o").]

    +eq().
        \dfrac{x^2}{a^2}+\dfrac{y^2}{b^2}&=1
        \\\dfrac{y^2}{b^2}&=1-\dfrac{x^2}{a^2}
        \\y^2&=b^2\left(1-\dfrac{x^2}{a^2}\right)
        \\|y|&=\sqrt{b^2\left(1-\dfrac{x^2}{a^2}\right)}
        \\|y|&=\sqrt{b^2}\sqrt{1-\dfrac{x^2}{a^2}}\because b\gt 0
        \\y&=\pm b\sqrt{1-\dfrac{x^2}{a^2}}

    p Puisque l'expression #[+e() 1-\dfrac{x^2}{a^2}] est un radicande, il convient que #[+e() 1-\dfrac{x^2}{a^2}\geq 0,] ce qui implique que #[+e() \dfrac{x^2}{a^2}\leq 1,] et donc que #[+e() x^2\leq a^2.] Ce faisant, #[+e() |x|\leq a\implies -a\leq x\leq a,] d'où la définition de #[+e() x] dans l'équation #[+eqref("ellipse-centre-o")] telle que #[+e() x\in[-a,a].] Similairement, pour trouver la définition de #[+e() y,] il faudra isoler #[+e() x] dans l'équation #[+eqref("ellipse-centre-o") .]

    +eq().
        \dfrac{x^2}{a^2}+\dfrac{y^2}{b^2}&=1
        \\\dfrac{x^2}{a^2}&=1-\dfrac{y^2}{b^2}
        \\x^2&=a^2\left(1-\dfrac{y^2}{b^2}\right)
        \\|x|&=\sqrt{a^2\left(1-\dfrac{y^2}{b^2}\right)}
        \\|x|&=\sqrt{a^2}\sqrt{1-\dfrac{y^2}{b^2}}\because a\gt 0
        \\x&=\pm a\sqrt{1-\dfrac{y^2}{b^2}}

    p Alors, en vertu de la définition de la fonction racine carrée, le radicande #[+e() 1-\dfrac{y^2}{b^2}] doit être positif.

    +eq().
        1-\dfrac{y^2}{b^2}&\geq 0
        \\\dfrac{y^2}{b^2}&\leq 1
        \\y^2&\leq b^2
        \\|y|&\leq b
        \\&\implies -b\leq y\leq b

    p On conclut donc que #[+e() y\in[-b,b].]

    +example("Déterminer l'équation d'une ellipse centrée à l'origine")
        p Quelle est l'équation d'une ellipse centrée à l'origine si la longueur de son axe horizontal est #[+e() 8] et celle de son axe vertical est #[+e() 4?]
        p À partir de l'équation #[+eqref("ellipse-centre-o") ,] #[+e() 2a=8\implies a=4] et #[+e() 2b=4\implies b=2.] Par conséquent, l'équation de l'ellipse est #[+e() \dfrac{x^2}{4^2}+\dfrac{y^2}{2^2}=1.]

    +example("Utiliser du domaine d'une ellipse centrée à l'origine")
        p Existe-t-il un point sur la circonférence de l'ellipse d'équation #[+e() \dfrac{x^2}{9}+\dfrac{y^2}{16}=1] dont l'ordonnée vaut #[+e() 3?]
        p À partir de l'équation #[+eqref("ellipse-centre-o") ,] #[+e() b=\sqrt{16}=4.] Puisqu'une ellipse d'équation #[+eqref("ellipse-centre-o")] a pour image #[+e() [-b,b],] alors il est tout à fait possible que pour un point #[+e() P=(x,y)] sur la courbe de l'ellipse #[+e() y=3\in[-4,4].]

    +h(3, "L'équation canonique de l'ellipse")

        p Si l'ellipse n'était pas centrée à l'origine, l'ensemble des points aurait subit une translation horizontale de #[+e() h] unités et une translation verticale de #[+e() k] unités. Il en reviendrait à dire que les foyers #[+e() F_1] et #[+e() F_2] auraient pour coordonnées #[+e() F_1=(-c+h,k)] et #[+e() F_2=(c+h,k)] dans notre preuve plus haute. Dégager l'équation d'une ellipse à partir de l'équation #[+e() 2a=\overline{PF_1}+\overline{PF_2}] serait fastidieux, mais de manière analogue à ce que nous avons déjà fait.

        p En revanche, si nous considérons une ellipse comme un cercle ayant subit une mise à l'échelle dont le ratio est différent de #[+e() 1:1] (c'est-à-dire que le cercle ait été étiré ou horizontalement ou verticalement), alors l'équation canonique de l'ellipse paraît intuitive.

        +theorem("L'équation canonique d'une ellipse")
            p L'équation d'une ellipse #[+e() E] centrée en #[+e() Q=(h,k),] de largeur #[+e() 2a] et de hauteur #[+e() 2b] s'exprime:
            +leq("ellipse-canonique") E:\dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}=1
            p #[+e() x,] #[+e() y,] #[+e() a,] #[+e() b,] #[+e() h] et #[+e() k] étant des réels, #[+e() a\gt 0,] #[+e() b\gt 0,] #[+e() a\neq b,] #[+e() h-a\leq x\leq h+a] et #[+e() k-b\leq y\leq k+b.]
            +fig("ellipse-canonique.svg").
                L'ellipse d'équation canonique dans le plan cartésien.

        p Les contraintes sur les paramètres des équations #[+eqref("ellipse-centre-o")] et #[+eqref("ellipse-canonique")] sont similaires. Par la composition des fonctions, il est possible de substituer #[+e() x\leftarrow x-h] dans l'équation #[+eqref("ellipse-centre-o")] pour conclure que #[+e() -a\leq x-h\leq a\implies h-a\leq x\leq h+a.] Similairement, en substituant #[+e() y\leftarrow y-k] dans l'équation #[+eqref("ellipse-centre-o") ,] la contrainte sur les ordonnées de l'ellipse s'exprime #[+e() -b\leq y-k\leq b\implies k-b\leq y\leq k+b.] Il en revient à appliquer la translation de l'ellipse sur #[+e() P=(x,y).]

        p Autrement, nous pouvons déduire les intervalles de définition de #[+e() x] et #[+e() y] en les isolant dans l'équation #[+eqref("ellipse-canonique") .]

        +eq().
            \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
            \\\dfrac{(y-k)^2}{b^2}&=1-\dfrac{(x-h)^2}{a^2}
            \\(y-k)^2&=b^2\left(1-\dfrac{(x-h)^2}{a^2}\right)
            \\|y-k|&=\sqrt{b^2\left(1-\dfrac{(x-h)^2}{a^2}\right)}
            \\|y-k|&=\sqrt{b^2}\sqrt{1-\dfrac{(x-h)^2}{a^2}}
            \\y-k&=\pm b\sqrt{1-\dfrac{(x-h)^2}{a^2}}\because b\gt 0
            \\y&=k\pm b\sqrt{1-\dfrac{(x-h)^2}{a^2}}
        
        p En vertu de la définition de la fonction racine carrée, le radicande #[+e() 1-\dfrac{(x-h)^2}{a^2}] doit être positif.

        +eq().
            1-\dfrac{(x-h)^2}{a^2}&\geq 0
            \\\dfrac{(x-h)^2}{a^2}&\leq 1
            \\(x-h)^2&\leq a^2
            \\|x-h|&\leq a
            \\&\implies -a\leq x-h\leq a
            \\&\implies h-a\leq x\leq h+a

        p Alors, pour une ellipse d'équation #[+eqref("ellipse-canonique") ,] #[+e() x\in[h-a, h+a].] De même manière, pour trouver la définition de #[+e() y,] il faudra isoler #[+e() x] dans l'équation  #[+eqref("ellipse-canonique") .]

        +eq().
            \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
            \\\dfrac{(x-h)^2}{a^2}&=1-\dfrac{(y-k)^2}{b^2}
            \\(x-h)^2&=a^2\left(1-\dfrac{(y-k)^2}{b^2}\right)
            \\|x-h|&=\sqrt{a^2\left(1-\dfrac{(y-k)^2}{b^2}\right)}
            \\|x-h|&=\sqrt{a^2}\sqrt{1-\dfrac{(y-k)^2}{b^2}}
            \\x-h&=\pm a\sqrt{1-\dfrac{(y-k)^2}{b^2}}\because a\gt 0
            \\x&=h\pm a\sqrt{1-\dfrac{(y-k)^2}{b^2}}

        p Ainsi, en vertu de la définition de la racine carrée, le radicande #[+e() 1-\dfrac{(y-k)^2}{b^2}] doit être positif.

        +eq().
            1-\dfrac{(y-k)^2}{b^2}&\geq 0
            \\\dfrac{(y-k)^2}{b^2}&\leq 1
            \\(y-k)^2&\leq b^2
            \\|y-k|&\leq b
            \\&\implies -b\leq y-k\leq b
            \\&\implies k-b\leq y\leq k+b

        p Enfin, pour une ellipse d'équation #[+eqref("ellipse-canonique") ,] #[+e() y\in[k-b,k+b].]

        +example("Déplacer une ellipse d'équation canonique")
            p Une ellipse d'équation #[+e() \dfrac{(x-3)^2}{25}+\dfrac{(y+2)^2}{9}] subit une translation horizontale de #[+e() 3u] et une translation verticale de #[+e() -6u.] Quelle est l'équation de l'ellipse transformée?
            p À partir de l'équation #[+eqref("ellipse-canonique") ,] le centre de l'ellipse de base est #[+e() Q=(3,-2).] Le centre de l'ellipse transformée #[+e() Q^\prime] correspond donc à #[+e() (6,-8).] Ce faisant, son équation devient #[+e() \dfrac{(x-6)^2}{25}+\dfrac{(y+8)^2}{9}.]
        
        +example("Déterminer le domaine et l'image d'une ellipse d'équation canonique")
            p Quels sont le domaine et l'image d'une ellipse d'équation #[+e() \dfrac{(x+3)^2}{4}+\dfrac{(y-2)^2}{9}?]
            p À partir de l'équation #[+eqref("ellipse-canonique") ,] le centre de l'ellipse correspond au point #[+e() Q=(-3,2).] La longueur de l'axe horizontal de l'ellipse vaut #[+e() 2a=2\sqrt{4}=4,] et la longueur de son axe vertical vaut #[+e() 2b=2\sqrt{9}=6.] Par conséquent, le domaine de l'ellipse est #[+e() [-5,-1]] et son image est #[+e() [-1,5].]

        +example("Déterminer l'équation d'une ellipse à l'aide d'un de ses axes et un point sur sa courbe")
            p Quelle est l'équation d'une ellipse centrée en #[+e() Q=(6,4)] si #[+e() a=4\sqrt{10},] et #[+e() P=(16,10)] est sur la courbe?
            p L'ellipse est centrée en #[+e() Q,] alors #[+e() (h,k)=(6,4).] À partir de l'équation #[+eqref("ellipse-canonique") ,] il sera possible de trouver la valeur de #[+e() b^2] en y substituant les coordonnées de #[+e() P.]
            +eq().
                \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
                \\\dfrac{(y-k)^2}{b^2}&=1-\dfrac{(x-h)^2}{a^2}
                \\\dfrac{b^2}{(y-k)^2}&=\dfrac{1}{1-\dfrac{(x-h)^2}{a^2}}
                \\b^2&=\dfrac{(y-k)^2}{1-\dfrac{(x-h)^2}{a^2}}
                \\&=\dfrac{(y-4)^2}{1-\dfrac{(x-6)^2}{(4\sqrt{10})^2}}&&\text{Soit }(x,y)=(16,10)
                \\&=\dfrac{(10-4)^2}{1-\dfrac{(16-6)^2}{160}}
                \\&=\dfrac{36}{1-\dfrac{100}{160}}
                \\&=\dfrac{36}{\dfrac{60}{160}}
                \\&=\dfrac{36}{\dfrac{3}{8}}
                \\&=\dfrac{36\cdot 8}{3}
                \\&=96
            p Alors, l'équation de l'ellipse devient:
            +eq().
                \dfrac{(x-6)^2}{160}+\dfrac{(y-4)^2}{96}=1.

+h(2, "L'ellipse dans le plan cartésien")

    p L'équation de l'ellipse est implicite tout comme celle du cercle. Par conséquent, la résolution de problèmes impliquant les ellipses nécessitera la méthode de substitution, comparaison ou réduction. Cela dit, les ellipses décrites par les équations #[+eqref("ellipse-centre-o")] et #[+eqref("ellipse-canonique")] sont distinctes lorsque #[+e() a\gt b] et #[+e() a\lt b.]

    +h(3, "Les ellipses horizontales et verticales")

        +definition("L'axe focal d'une ellipse")
            p L'axe focal d'une ellipse correspond à l'axe décrit par le segment de droite reliant ses foyers #[+e() F_1] et #[+e() F_2.]

        +definition("Les ellipses horizontales")
            p Une ellipse d'équation #[+eqref("ellipse-centre-o")] ou #[+eqref("ellipse-canonique")] est dite horizontale si #[+e() a\gt b,] c'est-à-dire que la longueur de son grand axe, et celle de la somme des distances entre un point #[+e() P] sur sa courbe et ses foyers #[+e() F_1] et #[+e() F_2], vaut #[+e() 2a.] Par conséquent, l'axe focal de l'ellipse est horizontal.
            +fig("ellipse-horizontale.svg").
                Exemple d'ellipse horizontale.

        +definition("Les ellipses verticales")
            p Une ellipse d'équation #[+eqref("ellipse-centre-o")] ou #[+eqref("ellipse-canonique")] est dite verticale si #[+e() a\lt b,]  c'est-à-dire que la longueur de son grand axe, et celle de la somme des distances entre un point #[+e() P] sur sa courbe et ses foyers #[+e() F_1] et #[+e() F_2], vaut #[+e() 2b.] Par conséquent, l'axe focal de l'ellipse est vertical. 
            +fig("ellipse-verticale.svg").
                Exemple d'ellipse verticale.  

        p Si #[+e() c] correspond à la distance entre le centre de l'ellipse et les foyers #[+e() F_1] et #[+e() F_2,] alors sa définition est influencée par la relation entre #[+e() a] et #[+e() b.] En effet, en ce qui concerne les ellipses horizontales et verticales, les foyers se retrouvent sur le grand axe.

        p Considérons une ellipse horizontale d'équation #[+eqref("ellipse-canonique")] telle que #[+e() Q=(h,k)] et #[+e() a\gt b.] Si #[+e() P=(h, k+b),] le point le plus haut de l'ellipse, alors les triangles #[+e() \triangle QPF_1] et #[+e() \triangle QPF_2] sont rectangles, et leur hypoténuse correspond à la valeur de #[+e() a,] soit la demie de la longueur du grand axe. En vertu du théorème de Pythagore, il convient que #[+e() b^2+c^2=a^2,] ce qui implique que #[+e() c^2=a^2-b^2.]

        +fig("ellipse-horizontale-relation-de-pythagore.svg").
            La relation de Pythagore dans une ellipse horizontale.

        p Considérons maintenant une ellipse verticale d'équation #[+eqref("ellipse-canonique")] telle que #[+e() Q=(h,k)] et #[+e() a\lt b.] Si #[+e() P=(h-a, k),] le point le plus à gauche de l'ellipse, alors les triangles #[+e() \triangle QPF_1] et #[+e() \triangle QPF_2] sont aussi rectangles. Leur hypoténuse correspond cependant à #[+e() b] puisque l'axe le plus grand est vertical. Dans ce cas-ci, en vertu du théorème de Pythagore, #[+e() a^2+c^2=b^2,] ce revient à dire que #[+e() c^2=b^2-a^2.]

        +fig("ellipse-verticale-relation-de-pythagore.svg").
            La relation de Pythagore dans une ellipse verticale.

        p À partir de ces raisonnements, sachant que #[+e() c^2=a^2-b^2] pour les ellipses horizontales et #[+e() c^2=b^2-a^2] pour les ellipses verticales, nous pouvons conclure que #[+e() c^2] correspond à la différence positive entre #[+e() a^2] et #[+e() b^2.] En effet, #[+e() c] est une grandeur géométrique, c'est-à-dire qu'elle est positive, alors #[+e() c^2\gt0.] On peut conclure que #[+e() c^2=|a^2-b^2|,] et en extrayant la racine de part et d'autre de l'équation, on obtient une formule pour la distance entre le centre d'une ellipse et l'un ou l'autre de ses foyers dans l'équation #[+eqref("ellipse-centre-o")] ou #[+eqref("ellipse-canonique") .]

        +leq("distance-centre-foyer") c=\sqrt{|a^2-b^2|}

        +example("Déterminer les coordonnées des foyers d'une ellipse d'équation canonique")
            p Quelles sont les coordonnées des foyers #[+e() F_1] et #[+e() F_2] d'une ellipse d'équation #[+e() \dfrac{(x-7)^2}{32}+\dfrac{(y-6)^2}{16}=1?]

            p À partir de l'équation #[+eqref("ellipse-canonique") ,] nous pouvons constater que #[+e() \dfrac{(x-7)^2}{32}+\dfrac{(y-6)^2}{16}=1] décrit une ellipse horizontale centrée en #[+e() Q=(7,6)], puisque #[+e() a^2=32\implies a=4\sqrt{2}] et #[+e() b^2=16\implies b=4,] ce qui implique que #[+e() a\gt b.] Par conséquent, les foyers #[+e() F_1] et #[+e() F_2] se retrouvent sur l'axe horizontal de l'ellipse, ce qui implique que le segment de droite #[+e() \overline{F_1F_2}] est horizontal. Il en revient à dire que #[+e() F_1=(h-c,k)] et #[+e() F_2=(h+c,k),] puisque #[+e() \overline{F_1Q}=\overline{QF_2}=c.] À partir de la formule #[+eqref("distance-centre-foyer") ,]

            +eq().
                c&=\sqrt{|a^2-b^2|}
                \\&=\sqrt{|32-16|}
                \\&=\sqrt{16}
                \\&=4

            p Par conséquent, #[+e() F_1=(h-c,k)=(3,6)] et #[+e() F_2=(h+c,k)=(11,6).]

            +fig("exemple-determiner-coordonnees-foyers-ellipse-horizontale.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

        +example("Déterminer l'équation d'une ellipse à l'aide des coordonnées de ses foyers")
            p Quelle est l'équation canonique d'une ellipse dont les foyers sont #[+e() F_1=(-5,6)] et #[+e() F_2=(-5,-4)] si #[+e() a=3?]

            p Le segment de droite #[+e() \overline{F_1F_2}] est vertical puisque #[+e() x_{F_1}=x_{F_2},] ce qui implique que l'ellipse est verticale. Par conséquent, #[+e() a\lt b.] Le point milieu des foyers #[+e() F_1] et #[+e() F_2] correspond au centre #[+e() Q=(h,k)] de l'ellipse. Alors, #[+e() Q=\left(-5,\dfrac{y_{F_1}+y_{F_2}}{2}\right)=(-5,1).]

            p Sachant que #[+e() c] correspond à la distance entre l'un ou l'autre des foyers et #[+e() Q,] alors #[+e() c=5.] Il sera possible de déterminer la valeur de #[+e() a] à l'aide de la formule #[+eqref("distance-centre-foyer").]

            +eq().
                c&=\sqrt{|a^2-b^2|}
                \\c^2&=|a^2-b^2|
                \\-c^2&=a^2-b^2\because a\gt b
                \\-c^2-a^2&=-b^2
                \\b^2&=c^2+a^2
                \\b&=\sqrt{c^2+a^2}
                \\&=\sqrt{5^2+3^2}
                \\&=\sqrt{34}

            P Enfin, à partir de l'équation #[+eqref("ellipse-canonique") ,] l'équation de l'ellipse est #[+e() \dfrac{(x+5)^2}{9}+\dfrac{(y-1)^2}{34}=1.]

            +fig("exemple-determiner-equation-ellipse-coordonnees-foyers.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]


    +h(3, "L'intersection d'une ellipse et d'une droite")

        p Soit une ellipse d'équation #[+eqref("ellipse-canonique")] et une droite d'équation #[+e() y=mx+b\Longleftrightarrow x=\dfrac{y-b}{m}.] Lorsqu'on cherche le ou les points d'intersection entre une droite et une ellipse, il suffit de substituer l'équation de la droite dans celle de l'ellipse. Si #[+e() y=mx+b,] alors il suffit de remplacer #[+e() y] par #[+e() mx+b] dans l'équation #[+eqref("ellipse-canonique") .]
        +eq().
            \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
            \\\dfrac{(x-h)^2}{a^2}+\dfrac{(\color{blue}{mx+b}-k)^2}{b^2}&=1&&\color{blue}{\text{Par substitution}}
        p Si en revanche #[+e() x=\dfrac{y-b}{m},] alors il suffit de remplacer #[+e() x] par #[+e() \dfrac{y-b}{m}] dans l'équation #[+eqref("ellipse-canonique") .]
        +eq().
            \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
            \\\dfrac{\left(\color{blue}{\dfrac{y-b}{m}}-h\right)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1&&\color{blue}{\text{Par substitution}}

        +example("L'intersection d'une ellipse et d'une droite en deux points")
            p Quels sont les points d'intersection entre l'ellipse d'équation #[+e() \dfrac{x^2}{45}+\dfrac{(y-4)^2}{9}=1] et la droite d'équation #[+e() y=-\dfrac{2}{5}x+4] s'il y en a?

            p Il suffit de substituer l'équation de la droite dans celle de l'ellipse pour éliminer une des variables manquantes.
            +eq().
                \dfrac{x^2}{45}+\dfrac{(y-4)^2}{9}&=1
                \\\dfrac{x^2}{45}+\dfrac{\left(\color{blue}{-\dfrac{2}{5}x+4}-4\right)^2}{9}&=1&&\color{blue}{\text{Par substitution}}
                \\\dfrac{x^2}{45}+\dfrac{\left(-\dfrac{2}{5}x\right)^2}{9}&=1
                \\\dfrac{x^2}{45}+\dfrac{1}{9}\left(-\dfrac{2}{5}\right)^2x^2&=1
                \\\dfrac{x^2}{45}+\dfrac{1}{9}\cdot\dfrac{4}{25}x^2&=1
                \\x^2\left(\dfrac{1}{45}+\dfrac{4}{9\cdot 25}\right)&=1
                \\x^2\left(\dfrac{5}{225}+\dfrac{4}{225}\right)&=1
                \\x^2\left(\dfrac{9}{225}\right)&=1
                \\x^2&=\dfrac{225}{9}
                \\|x|&=\dfrac{15}{3}
                \\\begin{cases}x=5\\x=-5\end{cases}
            p Connaissant les valeurs d'abscisses des points d'intersection entre la droite et l'ellipse, il ne reste plus qu'à les substituer dans l'équation de la droite.
            +eq().
                y&=-\dfrac{2}{5}x+4
                \\&=-\dfrac{2}{5}\cdot\color{blue}{5}+4&&\color{blue}{\text{Par substitution}}
                \\&=2
            +eq().
                y&=-\dfrac{2}{5}x+4
                \\&=-\dfrac{2}{5}\cdot\color{blue}{-5}+4&&\color{blue}{\text{Par substitution}}
                \\&=6
            p Les points d'intersection entre la droite et l'ellipse sont donc #[+e() (-5,6)] et #[+e() (5,2).]
            +fig("exemple-intersection-ellipse-droite-deux-solutions.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

        +example("L'intersection d'une ellipse et d'une droite en un point")
            p Quelles sont les coordonnées du point de tangence #[+e() P] de la droite #[+e() y=\dfrac{1}{2}x+\dfrac{17}{2}] et de l'ellipse d'équation #[+e() \dfrac{(x-4)^2}{9}+\dfrac{(y-6)^2}{18}=1?]
            p Sachant que #[+e() P] est un point de tangence, il ne devrait y avoir qu'un seul point d'intersection entre la droite et l'ellipse. Il faut substituer l'équation de la droite dans celle de l'ellipse.

            +eq().
                \dfrac{(x-4)^2}{9}+\dfrac{(y-6)^2}{18}&=1
                \\\dfrac{(x-4)^2}{9}+\dfrac{\left(\color{blue}{\dfrac{1}{2}x+\dfrac{17}{2}}-6\right)^2}{18}&=1&&\color{blue}{\text{Par substitution}}
                \\\dfrac{(x-4)^2}{9}+\dfrac{\left(\dfrac{1}{2}x+\dfrac{5}{2}\right)^2}{18}&=1
                \\\dfrac{(x-4)^2}{9}+\dfrac{\left(\dfrac{1}{2}(x+5)\right)^2}{18}&=1
                \\\dfrac{(x-4)^2}{9}+\dfrac{(x+5)^2}{72}&=1
                \\72\dfrac{(x-4)^2}{9}+(x+5)^2&=72
                \\8(x-4)^2+(x+5)^2&=72
                \\8(x^2-8x+16)+(x^2+10x+25)&=72
                \\9x^2-54x+81&=0
                \\9(x^2-6x+9)&=0
                \\(x-3)^2&=0
                \\x&=3

            p Il ne reste plus qu'à substituer l'abscisse du point de tangence dans l'équation de la tangente pour trouver son ordonnée.

            +eq().
                y&=\dfrac{1}{2}x+\dfrac{17}{2}
                \\&=\dfrac{1}{2}\cdot \color{blue}{3}+\dfrac{17}{2}&&\color{blue}{\text{Par substitution}}
                \\&=\dfrac{1}{2}\cdot 3+\dfrac{17}{2}
                \\&=\dfrac{20}{2}
                \\&=10

            p Alors, le point de tangence entre la droite et l'ellipse est #[+e() P=(3,10).]

            +fig("exemple-intersection-ellipse-droite-une-solution.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

        +example("L'intersection d'une ellipse et d'une droite sans solution")
            p Quelles sont les coordonnées des points d'intersection entre la droite #[+e() y=5x] et l'ellipse d'équation #[+e() (x+2)^2+\dfrac{(y+1)^2}{10}=1?]

            p Il suffit de substituer l'équation de la droite dans celle de l'ellipse pour éliminer une des variables inconnues.
            +eq().
                (x+2)^2+\dfrac{(y+1)^2}{10}&=1
                \\(x+2)^2+\dfrac{(\color{blue}{5x}+1)^2}{10}&=1\color{blue}{\text{ Par substitution}}
                \\(x^2+4x+4)+\dfrac{(25x^2+10x+1)}{10}&=1
                \\\dfrac{10x^2+40x+40}{10}+\dfrac{25x^2+10x+1}{10}&=1
                \\10x^2+40x+40+25x^2+10x+1&=10
                \\35x^2+50x+31&=0
                \\x&=\dfrac{-50\pm\sqrt{50^2-4\cdot 35\cdot 31}}{2\cdot 35}
                \\&=\dfrac{-50\pm\sqrt{2500-4340}}{70}
                \\&=\dfrac{-50\pm\sqrt{-1840}}{70}
            p Puisque le discriminant de l'équation #[+e() 35x^2+50x+31=0] est négatif, il n'y a pas de solutions à l'équation. Par conséquent, il n'y a pas de point d'intersection entre l'ellipse et la droite.
            +fig("exemple-intersection-ellipse-droite-aucune-solution.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

    +h(3, "Le latus rectum de l'ellipse")

    +definition("Le latus rectum")
        p Le latus rectum correspond à la mesure géométrique de la droite perpendiculaire à l'axe majeur d'une section conique passant par un de ses foyers et délimitée par la courbe.

    p Le latus rectum d'une ellipse correspond à la longueur d'un segment de droite compris dans sa courbe. Le segment doit être perpendiculaire au plus grand axe de l'ellipse, et il doit passer par l'un ou l'autre de ses foyers.

    p Considérons une ellipse horizontale d'équation #[+eqref("ellipse-centre-o")] telle que #[+e() a\gt b.] Nous savons que #[+e() c] vaut la distance entre le centre #[+e() O] de l'ellipse et l'un ou l'autre de ses foyers. Soit les foyers #[+e() F_1=(-c,0)] et #[+e() F_2=(c,0)] de l'ellipse. Le couple de points délimitant le latus rectum passant par #[+e() F_1] correspond à l'équation de l'ellipse évaluée avec #[+e() x=-c.] Similairement, le couple de points délimitant le latus rectum passant par #[+e() F_2] se trouve par l'évaluation de l'équation de l'ellipse lorsque #[+e() x=c.] Puisque l'ellipse est symétrique par rapport à ses axes, il n'y aura qu'une seule valeur du latus rectum de l'ellipse. Soit #[+e() A] et #[+e() B,] les points sur la courbe de l'ellipse délimitant le latus rectum passant par #[+e() F_1.] On constate que #[+e() x_A=x_B=x_{F_1}.] Sachant que la relation de Pythagore dans une ellipse horizontale est #[+e() c^2=a^2-b^2,] on peut déterminer la valeur des ordonnées de #[+e() A] et #[+e() B.]
    
    +fig("construction-latus-rectum-ellipse-horizontale.svg").
        La construction de la preuve de la formule du latus rectum des ellipses horizontales.

    +eq().
        \dfrac{x^2}{a^2}+\dfrac{y^2}{b^2}&=1
        \\\dfrac{\color{blue}{(-c)}^2}{a^2}+\dfrac{y^2}{b^2}&=1&\color{blue}{\text{Par substitution}}
        \\\dfrac{c^2}{a^2}+\dfrac{y^2}{b^2}&=1
        \\\dfrac{y^2}{b^2}&=1-\dfrac{c^2}{a^2}
        \\y^2&=b^2\left(1-\dfrac{c^2}{a^2}\right)
        \\|y|&=\sqrt{b^2\left(1-\dfrac{c^2}{a^2}\right)}
        \\|y|&=b\sqrt{1-\dfrac{c^2}{a^2}}\because b\gt 0
        \\y&=\pm b\sqrt{\dfrac{1}{a^2}(a^2-c^2)}
        \\&=\pm \dfrac{b}{a}\sqrt{a^2-c^2}\because a\gt 0
        \\&=\pm \dfrac{b}{a}\sqrt{b^2}\because b^2+c^2=a^2
        \\&=\pm \dfrac{b^2}{a}\because b\gt 0

    p Par conséquent, #[+e() A=\left(-c,\dfrac{b^2}{a}\right)] et #[+e() B=\left(-c,-\dfrac{b^2}{a}\right).] La distance entre ces points correspond à la valeur du latus rectum de l'ellipse horizontale. La translation de l'ellipse vers un centre #[+e() Q=(h,k)] n'affecterait pas cette valeur, puisque #[+e() a] et #[+e() b] sont indépendants de #[+e() h] et #[+e() k].

    +theorem("Le latus rectum des ellipses horizontales")
        p Soit une ellipse #[+e() E] d'équation #[+eqref("ellipse-canonique")] telle que #[+e() a\gt b.] La grandeur de son latus rectum #[+e() LR] s'exprime par la formule:
        +leq("latus-rectum-ellipse-horizontale") LR=\dfrac{2b^2}{a}.
        +fig("latus-rectum-ellipse-horizontale.svg").
            Le latus rectum d'une ellipse horizontale.

    p Considérons maintenant une ellipse verticale d'équation #[+eqref("ellipse-centre-o")] telle que #[+e() a\lt b.] La distance entre l'un ou l'autre des foyers #[+e() F_1] et #[+e() F_2] et le centre #[+e() O] de l'ellipse correspond toujours à #[+e() c,] cependant leur coordonnées sont #[+e() F_1=(0,c)] et #[+e() F_2=(0,-c).] Le couple de points délimitant le latus rectum passant par #[+e() F_1] correspond à l'équation de l'ellipse évaluée lorsque #[+e() y=c.] Similairement, le couple de points du latus rectum passant par #[+e() F_2] se trouve par l'évaluation de l'équation de l'ellipse lorsque #[+e() y=-c.] L'ellipse étant symétrique par rapport à ses axes, on ne s'intéresse qu'à un des couples de points. Soit #[+e() A] et #[+e() B,] les points sur la courbe de l'ellipse délimitant le latus rectum passant par #[+e() F_1.] On constate que #[+e() y_A=y_B=y_{F_1}.] Sachant que la relation de Pythagore dans une ellipse verticale est #[+e() c^2=b^2-a^2,] on peut déterminer la valeur des ordonnées de #[+e() A] et #[+e() B.]

    +fig("construction-latus-rectum-ellipse-verticale.svg").
        La construction de la preuve de la formule du latus rectum des ellipses verticales.

    +eq().
        \dfrac{x^2}{a^2}+\dfrac{y^2}{b^2}&=1
        \\\dfrac{x^2}{a^2}+\dfrac{\color{blue}{c}^2}{b^2}&=1&\color{blue}{\text{Par substitution}}
        \\\dfrac{x^2}{a^2}&=1-\dfrac{c^2}{b^2}
        \\x^2&=a^2\left(1-\dfrac{c^2}{b^2}\right)
        \\|x|&=\sqrt{a^2\left(1-\dfrac{c^2}{b^2}\right)}
        \\|x|&=a\sqrt{1-\dfrac{c^2}{b^2}}\because a\gt 0
        \\x&=\pm a\sqrt{\dfrac{1}{b^2}(b^2-c^2)}
        \\&=\pm \dfrac{a}{b}\sqrt{b^2-c^2}\because b\gt 0
        \\&=\pm \dfrac{a}{b}\sqrt{a^2}\because c^2=b^2-a^2
        \\&=\pm \dfrac{a^2}{b}\because a\gt 0

    p Par conséquent, #[+e() A=\left(-\dfrac{a^2}{b},c\right)] et #[+e() B=\left(\dfrac{a^2}{b},c\right).] La distance entre ces points correspond à la valeur du latus rectum de l'ellipse verticale. La translation de l'ellipse vers un centre #[+e() Q=(h,k)] n'affecterait pas cette valeur, puisque #[+e() a] et #[+e() b] sont indépendants de #[+e() h] et #[+e() k.]
        
    +theorem("Le latus rectum des ellipses verticales")
        p Soit une ellipse #[+e() E] d'équation #[+eqref("ellipse-canonique")] telle que #[+e() a\lt b.] La grandeur de son latus rectum #[+e() LR] s'exprime par la formule:
        +leq("latus-rectum-ellipse-verticale") LR=\dfrac{2a^2}{b}.
        +fig("latus-rectum-ellipse-verticale.svg").
            Le latus rectum d'une ellipse verticale.

    p Puisque le latus rectum des ellipses horizontales vaut #[+e() \dfrac{2b^2}{a}] et celui des ellipses verticales vaut #[+e() \dfrac{2a^2}{b},] nous pourrions dire qu'en général le latus rectum des ellipses correspond au double du carré de la longueur du plus petit axe, le tout divisé par la longueur du plus grand axe.

    +eq().
        LR=\dfrac{2(\text{min}\{a,b\})^2}{\text{max}\{a,b\}}

    p Il existe un développement de cette dernière formule, mais elle ne serait pratique. Nous pourrions cependant écrire:

    +eq().
        LR=
        \begin{cases}
        \dfrac{2a^2}{b}&a\gt b
        \\\dfrac{2b^2}{a}&a\lt b.
        \end{cases}

    +example("Déterminer la longueur du latus rectum d'une ellipse")
        p Quelle est la longueur du latus rectum de l'ellipse d'équation #[+e() (x+7)^2+4y^2=1?]
        p À partir de l'équation #[+eqref("ellipse-canonique") ,] #[+e() a=1] et #[+e() b=\dfrac{1}{2}] dans l'équation de l'ellipse. La longueur du demi-axe horizontal #[+e() a] étant plus grande que celle du demi-axe vertical #[+e() b,] le latus rectum de l'ellipse s'exprime:
        +eq().
            LR&=\dfrac{2b^2}{a}
            \\&=\dfrac{1}{2}

    +h(3, "Les inéquations et l'ellipse")

        p Plus tôt, nous avions mentionné que si #[+e() a=b] dans l'équation #[+eqref("ellipse-canonique") ,] alors le résultat décrirait un cercle de rayon #[+e() a]. Si nous considérions plutôt la définition de l'ellipse telle que #[+e() a\neq b,] nous pourrions tout aussi bien envoyer #[+e() a] et #[+e() b] du côté droite de l'équation.

        +eq().
            \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
            \\\dfrac{b^2(x-h)^2}{a^2b^2}+\dfrac{a^2(y-k)^2}{a^2b^2}&=1
            \\b^2(x-h)^2+a^2(y-k)^2&=a^2b^2

        p Ce faisant, on obtient une équation analogue à celle du cercle. Cependant, elle est moins intuitive parce que le paramètre #[+e() a] qu'on associait à #[+e() x] semble affecter la mise à l'échelle de #[+e() y.] Néanmoins, en remplaçant le symbole d'égalité par un des symboles d'inéquation, alors on obtient le même genre d'ensembles solution que ceux du cercle pour un même symbole. Refaire les démarches du calcul ci-haut dans l'autre sens n'affecte pas le sens de l'inégalité. Par conséquent, 
        
        +eq() b^2(x-h)^2+a^2(y-k)^2\lt a^2b^2\Longleftrightarrow \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}\lt 1.

        .row.middle-sm
            .col-sm-6
                +fig("inequation-ellipse-plus-petite-que-un.svg").
                    Le graphe de l'inéquation #[+e() \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}\lt 1,] qui décrit la région délimitée à l'intérieur de l'ellipse en excluant la courbe elle-même.
            .col-sm-6
                +fig("inequation-ellipse-plus-petite-ou-egale-a-un.svg").
                    Le graphe de l'inéquation #[+e() \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}\leq 1,] qui décrit la région délimitée à l'intérieur de l'ellipse en incluant la courbe elle-même.
        .row.middle-sm
            .col-sm-6
                +fig("inequation-ellipse-plus-grande-que-un.svg").
                    Le graphe de l'inéquation #[+e() \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}\gt 1,] qui décrit la région délimitée à l'extérieur de l'ellipse en excluant la courbe elle-même.
            .col-sm-6
                +fig("inequation-ellispe-plus-grande-ou-egale-a-un.svg").
                    Le graphe de l'inéquation #[+e() \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}\geq 1,] qui décrit la région délimitée à l'extérieur de l'ellipse en incluant la courbe elle-même.

        p Un truc pour déterminer la zone délimitée par l'inéquation d'une ellipse est d'y substituer les coordonnées du centre #[+e() Q=(h,k).] Ce faisant, si l'inéquation est vérifiée, c'est-à-dire qu'elle est vraie pour le couple #[+e() (x,y)] donné, alors l'inéquation comprend l'intérieur de l'ellipse. Autrement, elle comprend son extérieur.

        +example("Un point compris dans l'inéquation d'une ellipse")
            p Le point #[+e() P=(-4,2)] est-il compris dans la région délimitée par l'inéquation #[+e() \dfrac{(x-2)^2}{34}+\dfrac{(y+3)^2}{9}\gt 1?]
            p Il suffit d'insérer les coordonnées du point #[+e() P] dans l'inéquation pour voir si le couple de valeurs #[+e() (x,y)] la vérifie.

            +eq().
                \dfrac{(x-2)^2}{34}+\dfrac{(y+3)^2}{9}&\stackrel{?}{\gt} 1&&\text{Soit }(x,y)=(-4,2)
                \\\dfrac{(-4-2)^2}{34}+\dfrac{(2+3)^2}{9}&\stackrel{?}{\gt} 1
                \\\dfrac{36}{34}+\dfrac{25}{9}&\stackrel{?}{\gt} 1
                \\\dfrac{18}{17}+\dfrac{25}{9}&\stackrel{?}{\gt} 1
                \\\dfrac{9\cdot 18+17\cdot 25}{9\cdot 17}&\stackrel{?}{\gt} 1
                \\\dfrac{587}{153}&\stackrel{?}{\gt} 1
                \\587&\gt 153

            p Alors oui, le point #[+e() P=(-4,2)] est compris dans la région de l'inéquation #[+e() \dfrac{(x-2)^2}{34}+\dfrac{(y+3)^2}{9}\gt 1.]

            +fig("exemple-point-compris-inequation-exterieur-ellipse-horizontale.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

        +example("Un point compris sur la courbe de l'inéquation d'une ellipse")
            p Le point #[+e() P=(-12,-10)] est-il compris dans la région délimitée par l'inéquation #[+e() \dfrac{(x+4)^2}{144}+\dfrac{y^2}{180}\leq 1?]
            p Il suffit d'insérer les coordonnées du point #[+e() P] dans l'inéquation pour voir si le couple de valeurs #[+e() (x,y)] la vérifie.

            +eq().
                \dfrac{(x+4)^2}{144}+\dfrac{y^2}{180}&\stackrel{?}{\leq} 1&&\text{Soit }(x,y)=(-12,-10)
                \\\dfrac{(-12+4)^2}{144}+\dfrac{(-10)^2}{180}&\stackrel{?}{\leq} 1
                \\\dfrac{64}{144}+\dfrac{100}{180}&\stackrel{?}{\leq} 1
                \\\dfrac{4}{9}+\dfrac{5}{9}&\stackrel{?}{\leq} 1
                \\1&\leq 1

            p Alors oui, le point #[+e() P=(-12,-10)] est compris dans la région de l'inéquation #[+e() \dfrac{(x+4)^2}{144}+\dfrac{y^2}{180}\leq 1.]

            +fig("exemple-point-compris-inequation-courbe-ellipse-verticale.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]

        +example("Un point non-compris dans l'inéquation d'une ellipse")
            p L'ensemble solution de l'inéquation #[+e() \dfrac{(x-25)^2}{400}+\dfrac{(y-5)^2}{300}\lt 1] comprend-il le point #[+e() P=(35,25)?]
            p Insérer les coordonnées du point #[+e() P] dams l'inéquation nous permettra de voir si elles vérifient l'inéquation.

            +eq().
                \dfrac{(x-25)^2}{400}+\dfrac{(y-5)^2}{300}&\stackrel{?}{\lt} 1&&\text{Soit }(x,y)=(35,25)
                \\\dfrac{(35-25)^2}{400}+\dfrac{(25-5)^2}{300}&\stackrel{?}{\lt} 1
                \\\dfrac{100}{400}+\dfrac{400}{300}&\stackrel{?}{\lt} 1
                \\\dfrac{1}{4}+\dfrac{4}{3}&\stackrel{?}{\lt} 1
                \\\dfrac{3+12}{12}&\stackrel{?}{\lt} 1
                \\\dfrac{5}{4}&\nless 1

            p Par conséquent, #[+e() P=(35,25)] ne fait pas partie de l'inéquation #[+e() \dfrac{(x-25)^2}{400}+\dfrac{(y-5)^2}{300}\lt 1.]

            +fig("exemple-point-non-compris-inequation-courbe-ellipse-horizontale.svg").
                Réponse à #[+refExample(0) l&#39;exemple #{exampleNo}.]


+h(2, "La forme générale de l'équation d'une ellipse")

    p La forme générale de l'équation d'une ellipse consiste au développement de son équation canonique #[+eqref("ellipse-canonique") .]

    +eq().
        \dfrac{(x-h)^2}{a^2}+\dfrac{(y-k)^2}{b^2}&=1
        \\\dfrac{b^2(x-h)^2}{a^2b^2}+\dfrac{a^2(y-k)^2}{a^2b^2}&=1
        \\b^2(x-h)^2+a^2(y-k)^2&=a^2b^2
        \\b^2(x^2-2hx+h^2)+a^2(y^2-2ky+k^2)&=a^2b^2
        \\b^2x^2-2b^2hx+b^2h^2+a^2y^2-2a^2ky+a^2k^2&=a^2b^2
        \\b^2x^2+a^2y^2-2b^2hx-2a^2ky+b^2h^2+a^2k^2-a^2b^2&=0

    p Ce faisant, l'équation prend la forme suivante:
    +leq("ellipse-generale").
        Ax^2+Bxy+Cy^2+Dx+Ey+F=0

    p qui caractérise toutes les coniques. L'équation générale ne décrit une ellipse que si #[+e() A\neq C] et si le discriminant #[+e() \Delta=B^2-4AC] est négatif. Lorsque #[+e() B\neq 0,] l'équation décrit une ellipse ayant subit une rotation, ce qui n'est pas le cas d'une ellipse d'équation #[+eqref("ellipse-canonique") .] Du développement plus haut, on remarque que #[+e() A=b^2,] #[+e() C=a^2,] #[+e() D=-2b^2h,] #[+e() E=-2a^2k] et #[+e() F=b^2h^2+a^2k^2-a^2b^2.] Apprendre ces formules serait une perte de temps.

    p Le problème qu'il faut davantage considérer est celui du passage de la forme générale de l'équation d'une ellipse à sa forme canonique. On aura recours à la méthode de la complétion du carré pour factoriser les termes de l'équation #[+eqref("ellipse-generale") .]

    +example("Passer de la forme générale à la forme canonique de l'équation d'une ellipse")
        p Quelle est l'équation canonique #[+eqref("ellipse-canonique")] d'une ellipse d'équation #[+e() x^2+2y^2+4y=0?]
        p Il faut factoriser l'équation pour en dégager les paramètres #[+e() h] et #[+e() k.] On divisera ensuite l'expression de gauche par l'expression de droite pour qu'elle soit égale à #[+e() 1.] Il faut se souvenir qu'on ne peut appliquer la complétion du carré sur une expression #[+e() ax^2+bx+c] que si #[+e() a=1.]

        +eq().
            x^2+2y^2+4y=&0
            \\x^2+2(y^2+2y)=&0
            \\x^2+2(y^2+2y+1)=&2(1)
            \\x^2+2(y^2+1)^2=&2
            \\\dfrac{x^2}{2}+(y^2+1)^2=&1

        p La réponse est donc #[+e() \dfrac{x^2}{2}+(y^2+1)^2=1.]

    +example("Passer de la forme générale à la forme canonique de l'équation d'une ellipse")
        p Quelle est l'équation canonique #[+eqref("ellipse-canonique")] d'une ellipse d'équation #[+e() 9x^2+4y^2+18x-12y-27=0?]
        p On utilisera la méthode de la complétion du carré comme à #[+refExample(0) l&#39;exemple #{exampleNo - 1}.]

        +eq().
            9x^2+4y^2+18x-12y-27&=0
            \\9x^2+18x+4y^2-12y-27&=0
            \\9(x^2+2x)+4(y^2-3y)-27&=0
            \\9\left(x^2+2x+1\right)+4\left(y^2-3y+\left(\dfrac{-3}{2}\right)^2\right)-27&=9\cdot 1+4\left(\dfrac{-3}{2}\right)^2
            \\9(x+1)^2+4\left(y-\dfrac{3}{2}\right)^2&=27+9+9
            \\9(x+1)^2+4\left(y-\dfrac{3}{2}\right)^2&=45
            \\\dfrac{9(x+1)^2}{45}+\dfrac{4\left(y-\dfrac{3}{2}\right)^2}{45}&=1
            \\\dfrac{(x+1)^2}{5}+\dfrac{\left(y-\dfrac{3}{2}\right)^2}{\dfrac{45}{4}}&=1
        
        p La réponse est donc #[+e() \dfrac{(x+1)^2}{5}+\dfrac{\left(y-\dfrac{3}{2}\right)^2}{\dfrac{45}{4}}=1.]

+tableOfContents()