include /_jade/base/_functions

-console.info("Processing " + getCurrentRelativePath());

-
    var thumbnailUrl = fetchCurrentThumbnailUrl();
    if (!thumbnailUrl) {
        thumbnailUrl = public._data.globals.url + "res/thumbnails/thumbnail-dark.png"
    }

    var documentMetadata = fetchDocumentMetadata();

doctype html
html(lang!=getCurrentHtmlLocale())
    head(
        prefix!=
            "og: http://ogp.me/ns# " 
            + "fb: http://ogp.me/ns/fb# " 
            + "article: http://ogp.me/ns/article#"
            + "website: http://ogp.me/ns/website#"
    )
        //- og:url, og:site_name, fb:app_id, twitter:card, twitter:site
        include /_jade/mixins/head/_head

        //- title, og:title, twitter:title
        +metaTitle(public._data.globals.siteName)

        //- description, og:description, twitter:description
        if getCurrentLocaleRoot()
            +metaDescription(getCurrentLocaleRoot()._data.globals.description)

        //- og:locale
        if getCurrentOgLocale()
            meta(
                property='og:locale' 
                content!=getCurrentOgLocale()
            )

        //- og:type
        if currentIsArticle()
            meta(
                property='og:type' 
                content="article"
            )
        else
            meta(
                property='og:type'
                content="website"
            )

        //- Meta thumbnails
        if thumbnailUrl
            block metaThumbnails
                +ogimage(thumbnailUrl, "png", 300, 300)
                +twitterimage(thumbnailUrl)

        //- Favicon
        include /_jade/base/_favicon

        //- Stylesheets
        block stylesheets
            include /_jade/base/_stylesheets
            if !getCurrentLocaleRoot()
                link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/2.8.0/css/flag-icon.min.css")
            if documentMetadata && documentMetadata.containsCode
                include /_jade/components/_prism-stylesheets
    body
        include /_jade/redaction/_redaction
        .wrapper
            block content
                main(class!=fetchCurrentMainColorClass("grey"))
                    article
                        header
                            if documentMetadata && documentMetadata.headline
                                +h(1, documentMetadata.headline)
                            include /_jade/components/_breadcrumbs
                        != yield
                        if documentMetadata && documentMetadata.allowComments
                            include /_jade/components/_disqus
            include /_jade/layout/_navigation
            include /_jade/layout/_sidebar

        //- Footer
        if getCurrentLocaleRoot()
            include  /_jade/layout/_footer

        //- Scripts
        block scripts
            include /_jade/components/_scripts
            //- MathJax
            if documentMetadata
                if documentMetadata.containsMath
                    include /_jade/components/_mathjax
            //- Prism
            if documentMetadata
                if documentMetadata.containsCode 
                    include /_jade/components/_prism-scripts