include /_jade/model/_model.js.jade
-let timestamp = new Date().toTimeString();
-console.log(timestamp + " Processing " + Current.path())

doctype html
html(lang!=Current.localeSlug())
    include /_jade/base/_head
    body
        .wrapper
            -
                let themeColor;
                if (Current.category()) {
                    themeColor = Current.category().themeColor;
                }
                if (!themeColor) {
                    themeColor = "grey";
                }
            main(class!=themeColor)
                if Current.isArticle()
                    article(itemscope itemtype="http://schema.org/Article")
                        header
                            include /_jade/components/_metadata
                            h1.heading(id!=Utils.slugify(Current.headline()))
                                a.headline-link(
                                    href!='#' + Utils.slugify(Current.headline()) 
                                ): i.fa.fa-link
                                span(itemprop="headline")!=Current.headline()
                            include /_jade/base/_breadcrumbs
                            +breadcrumbs(Current.breadcrumbs())
                        section#content(itemprop="mainEntityOfPage")
                            !=yield
                        include /_jade/components/_authors
                        if Current.content().allowsComments
                            include /_jade/plugins/_disqus-scripts
                else if Current.isPage()
                    article
                        if Current.headline()
                            header
                                h1.heading
                                    a.headline-link(
                                        href!='#' + Utils.slugify(Current.headline()) 
                                        id!=Utils.slugify(Current.headline())
                                    ): i.fa.fa-link
                                    span(itemprop="headline")!=Current.headline()
                                include /_jade/base/_breadcrumbs
                                +breadcrumbs(Current.breadcrumbs())
                        !=yield
                else 
                    !=yield
            //-Left sidebar
            include /_jade/base/_primary-navigation

            //-Right sidebar
            #sidebar
                nav.share
                    ul
                        include /_jade/components/_share-icons

        //-Footer navigation
        if Current.locale()
            include /_jade/base/_secondary-navigation

        //-Scripts
        include /_jade/base/_scripts
        if Current.isArticle()
            if Current.content().containsMath
                include /_jade/plugins/_mathjax-scripts
            if Current.content().containsCode
                include /_jade/plugins/_prism-scripts