//- Mandatory stylesheets
//- Reset
link(
    rel='stylesheet' 
    href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css"
)
//- FontAesome icons
link(
    rel='stylesheet' 
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
)
//- Flexbox Grid
link(
    rel="stylesheet" 
    href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css"
)
//- Custom stylesheet reference
link(
    rel='stylesheet' 
    href="/css/main.css"
)