-
    /**
     * The minimum level of a section.
     */
    const MIN_SECTION_LEVEL = 1;

    /**
     * The maximum level of a section.
     */
    const MAX_SECTION_LEVEL = 6;

    /**
     * The level of the current section.
     */
    let currentSectionLevel = 1;

    /**
     * The current sections.
     */
    const SECTIONS = [];
    
    /**
     * A section represents an entity of a web document that contains content.
     */
    class Section {
        /**
         * Constructs a well defined section.
         * @param {Object} section the data of the section.
         * @param {Number} section.level the level of the section.
         * @param {String} section.heading the heading of the section.
         * @param {Section[]} section.sections the subsections of the section.
         */
        constructor({
            level,
            heading,
            sections = [],
        }) {
            this.level = level;
            if (level < MIN_SECTION_LEVEL || level > MAX_SECTION_LEVEL) {
                throw new Error('Invalid section level ' + level + ' for ' 
                    + heading);
            }
            this.heading = heading;
            if (!heading) {
                throw new Error('Missing heading for a section of level ' 
                    + level);
            }
            this.slug = slug(heading);
            this.sections = sections;
        }
    }

    /**
     * Recursively appends a section to a an array of section. Sections should
     * be appended as they are declared so that their hierarchy is maintained.
     * Each section is added at the end of the sections if its level matches
     * that of its siblings, or if there are no siblings. Otherwise, it is added
     * recursively to the sections of the last section among the active array of
     * section.
     * @param {Section} section the section to append.
     * @param {Section[]} sections the current sibling sections to which to
     * append the section.
     */
    function appendSection(section, sections) {
        let endSection = sections[sections.length - 1];
        if (!endSection) {
            sections.push(section);
        } else if (endSection.level < section.level) {
            appendSection(section, endSection.sections);
        } else {
            sections.push(section);
        }
    }

//- Adds a section container with a given heading.
    @param {String} heading the heading of the section.
mixin section(heading)
    -currentSectionLevel++;
    -
        const currentSection = new Section({
            level: currentSectionLevel,
            heading: heading,
        });
        appendSection(currentSection, SECTIONS);
    section
        +heading(currentSection)
        block
    -currentSectionLevel--;

//- Adds a formated heading for a given section.
    @param {Section} section the section from which to build the heading.
mixin heading(section)
    -const level = section.level;
    -const headline = section.heading;
    -const slug = section.slug;
    case level
        when 1: h1.heading(id=slug): +headingLink(section)
        when 2: h2.heading(id=slug): +headingLink(section)
        when 3: h3.heading(id=slug): +headingLink(section)
        when 4: h4.heading(id=slug): +headingLink(section)
        when 5: h5.heading(id=slug): +headingLink(section)
        when 6: h6.heading(id=slug): +headingLink(section)

//- Adds a linked heading for a given section.
    @param {Section} section the section from which to build the linked heading.
mixin headingLink(section)
    a.headline-link(
        href!='#' + section.slug
    ): i.fa.fa-link
    !=section.heading