link(rel='icon' href=WEBSITE.faviconFolder + 'favicon.ico')
-
    const APPLE_TOUCH_ICON_SIZES = [
        57,
        60,
        72,
        76,
        114,
        120,
        144,
        152,
        180
    ];
each size in APPLE_TOUCH_ICON_SIZES
    link(rel='apple-touch-icon' sizes='#{size}x#{size}' href=WEBSITE.faviconFolder + 'apple-icon-#{size}x#{size}.png')
link(rel='icon' type='image/png' sizes='192x192' href=WEBSITE.faviconFolder + 'android-icon-192x192.png')
-
    const ICON_SIZES = [
        16,
        32,
        96
    ];
each size in ICON_SIZES
    link(rel='icon' type='image/png' sizes='#{size}x#{size}' href=WEBSITE.faviconFolder + 'favicon-#{size}x#{size}.png')
link(rel='manifest' href='/manifest.json')
meta(name='msapplication-TileColor' content='#34495e')
meta(name='msapplication-TileImage' content='/ms-icon-144x144.png')
meta(name='theme-color' content='#34495e')