if DOCUMENT.headline
    meta(property='og:title' content=DOCUMENT.headline)
if DOCUMENT.description
    meta(property='og:description' content=DOCUMENT.description)
meta(property='og:url' content=DOCUMENT.link.url)
meta(property='og:site_name' content=WEBSITE.name)
meta(property='og:locale' 
    content=LOCALE.languageCode + '_' + LOCALE.countryCode)
meta(property='og:type' 
    content=(DOCUMENT instanceof Article ? 'article' : 'website'))
//- Thumbnail
-const thumbnailWidth = 300; // px
-const thumbnailHeight = 300; // px
-let thumbnailPath;
if DOCUMENT.category
    -thumbnailPath = DOCUMENT.category.thumbnailPath;
else
    -thumbnailPath = WEBSITE.thumbnailsFolder + WEBSITE.defaultThumbnail;
meta(property='og:image' content=thumbnailPath)
meta(property='og:image:type' content='image/png')
meta(property='og:image:width' content=thumbnailWidth)
meta(property='og:image:height' content=thumbnailHeight)