include /fr_CA/_jade/redaction/_redaction
include /_jade/base/_functions

p Étudions analytiquement le cercle en tant que courbe.

+definition("Le lieu géométrique du cercle")
    p Le cercle correspond à l'ensemble des points équidistants à un centre.

+h(2, "L'équation cartésienne du cercle")

p Partant du <a href="#definition1">lieu géométrique du cercle</a>, nous pouvons illustrer sur un plan cartésien un point #[+e() \color{blue}{O=(0,0)}] centré à l'origine qui correspond au centre du cercle. On y ajoute un point #[+e() \color{orange}{P=(x,y)}] à une distance positive et non nulle #[+e() \color{red}{r}] de #[+e() \color{blue}{O}.] Cette distance #[+e() \color{red}{r}] est constante en vertu du lieu géométrique du cercle. Le cercle, quant à lui, correspond à l'ensemble des points décrits par #[+e() \color{orange}{P}] en fonction de #[+e() \color{orange}{x}] et #[+e() \color{orange}{y}.] Les points #[+e() \color{blue}{O}] et #[+e() \color{orange}{P}] décrivent en triangle rectangle avec l'horizontale, où #[+e() \color{red}{r}=\overline{\color{blue}{O}\color{orange}{P}}] correspond à l'hypoténuse. En vertu du théorème de Pythagore, il est possible d'exprimer #[+e() \color{red}{r}] à l'aide de la formule de la distance entre deux points.
+fig("construction-du-cercle.svg").
    La construction du cercle en tant que conique.
+eq().
    r&=\sqrt{(P_x-O_x)^2+(P_y-O_y)^2}
    \\&=\sqrt{P_x^2+P_y^2}&&\because O = (0,0)
    \\&=\sqrt{x^2+y^2}
p En élevant de part et d'autre de l'expression au carré, on obtient l'équation d'un cercle de rayon #[+e() r] centré à l'origine.

+theorem("L'équation d'un cercle centré à l'origine")
    +leq("cercle-centre-0") x^2+y^2=r^2
    p Où #[+e() \{r\in\mathbb{R}|r\gt 0\}], #[+e() \{x\in\mathbb{R}|-r\leq x\leq r\}] et #[+e() \{y\in\mathbb{R}|-r\leq y\leq r\}.]
    +fig("cercle-centre-o.svg").
        Le cercle centré à l'origine dans le plan cartésien.

p Puisqu'un cercle découlant de l'équation #[+eqref("cercle-centre-0")] est centré à l'origine, #[+e() x] et #[+e() y] sont tous deux contraints dans l'intervalle #[+e() [-r,r].] Intuitivement, c'est parce que la distance entre un point sur la circonférence et le centre du cercle est #[+e() r], alors verticalement et horizontalement les distances maximales ne peuvent être que #[+e() r.] Pour le démontrer, il suffit d'isoler #[+e() x] ou #[+e() y] dans l'équation #[+eqref("cercle-centre-0")].
+eq().
    x^2+y^2&=r^2
    \\x^2&=r^2-y^2
    \\|x|&=\sqrt{r^2-y^2}
    \\x&=\pm\sqrt{r^2-y^2}
p Puisque l'expression #[+e() r^2-y^2] est un radicande, il convient que #[+e() r^2-y^2\geq0], ce qui implique que #[+e() y^2\leq r^2.] Conséquemment, #[+e() |y|\leq r\implies -r\leq y \leq r], d'où la définition de #[+e() y] dans l'équation #[+eqref("cercle-centre-0")] telle que #[+e() y\in [-r,r].] Similairement, pour trouver la définition de #[+e() x], il faudra isoler #[+e() y] dans l'équation #[+eqref("cercle-centre-0")].
+eq().
    x^2+y^2&=r^2
    \\y^2&=r^2-x^2
    \\|y|&=\sqrt{r^2-x^2}
    \\y&=\pm\sqrt{r^2-x^2}
p Alors, en vertu de la définition de la fonction racine carrée, le radicande #[+e() r^2-x^2] doit être positif.
+eq().
    r^2-x^2&\geq 0
    \\x^2&\leq r^2
    \\|x|&\leq r
    \\&\implies-r\leq x\leq r
p On conclut donc que #[+e() x\in[-r,r].]

+example()
    p Quelle est l'équation canonique d'un cercle centré à l'origine et de rayon #[+e() 3]?
    p À partir de l'équation #[+eqref("cercle-centre-0")], l'équation recherchée devient #[+e() x^2+y^2=3^2.]

+example()
    p Quels sont le domaine et l'image du cercle d'équation #[+e() x^2+y^2=81]?
    p À partir de l'équation #[+eqref("cercle-centre-0")], #[+e() r=\sqrt{81}=9.] Sachant que la valeur minimale de #[+e() x] est #[+e() -r] et que sa valeur maximale est #[+e() r], alors le domaine du cercle est #[+e() [-9,9].] De même, sachant que #[+e() y] est restreint entre #[+e() -r] et #[+e() r], l'image du cercle est #[+e() [-9,9].]

hr

p Si le cercle n'était pas centré à l'origine, alors il en reviendrait à dire qu'on y effectue une translation sur le plan cartésien. Pour déterminer l'équation d'un tel cercle, il faudra reprendre la formule de la distance entre deux points et redéfinir le centre du cercle. Soit #[+e() Q=(h,k)], le centre d'un cercle de rayon #[+e() r] et #[+e() P=(x,y)] décrivant l'ensemble des points sur sa circonférence, tel que #[+e() r=\overline{QP}].
+eq().
    r&=\sqrt{(P_x-Q_x)^2+(P_y-Q_y)^2}
    \\r&=\sqrt{(x-h)^2+(y-k)^2}
p En élevant de part et d'autre l'expression au carré, on obtient l'équation d'un cercle de rayon #[+e() r] centré en #[+e() (h,k).]

+theorem("L'équation canonique d'un cercle")
    +leq("cercle-canonique") (x-h)^2+(y-k)^2=r^2
    p Où #[+e() \{r\in\mathbb{R}|r\gt 0\}], #[+e() \{h,k\in\mathbb{R}\}], #[+e() \{x\in\mathbb{R}|h-r\leq x\leq h+r\}] et #[+e() \{y\in\mathbb{R}|k-r\leq y\leq k+r\}.]
    +fig("cercle-canonique.svg").
        Le cercle d'équation canonique dans le plan cartésien.

p Puisqu'un cercle découlant de l'équation #[+eqref("cercle-canonique")] est centré en #[+e() (h,k)] et de rayon #[+e() r], alors #[+e() x] doit nécessairement être contraint entre #[+e() h-r] et #[+e() h+r.] Similairement, #[+e() y] est compris entre #[+e() k-r] et #[+e() k+r], les extremums verticaux du cercle. La démonstration de ces affirmations est semblable à celles que nous avons fait en ce qui a trait au cercle d'équation #[+eqref("cercle-centre-0")]. Il faudra isoler #[+e() x] et #[+e() y] dans l'équation #[+eqref("cercle-canonique")].
+eq().
    (x-h)^2+(y-k)^2&=r^2
    \\(x-h)^2&=r^2-(y-k)^2
    \\|x-h|&=\sqrt{r^2-(y-k)^2}
    \\x-h&=\pm\sqrt{r^2-(y-k)^2}
p En vertu de la définition de la fonction racine carrée, le radicande #[+e() r^2-(y-k)^2] doit être positif.
+eq().
    r^2-(y-k)^2&\geq 0
    \\(y-k)^2&\leq r^2
    \\|y-k|&\leq r
    \\&\implies -r\leq y-k\leq r
    \\&\implies k-r\leq y\leq k+r
p Alors, pour un cercle d'équation #[+eqref("cercle-canonique")], #[+e() y\in[k-r,k+r].] De même manière, pour trouver la définition de #[+e() x], il faudra isoler #[+e() y] dans l'équation #[+eqref("cercle-canonique")].
+eq().
    (x-h)^2+(y-k)^2&=r^2
    \\(y-k)^2&=r^2-(x-h)^2
    \\|y-k|&=\sqrt{r^2-(x-h)^2}\\
    \\y-k&=\pm\sqrt{r^2-(x-h)^2}
p Ainsi, en vertu de la définition de la fonction racine carrée, le radicande #[+e() r^2-(x-h)^2] doit être positif.
+eq().
    r^2-(x-h)^2&\geq 0
    \\(x-h)^2&\leq r^2
    \\|x-h|&\leq r
    \\&\implies -r\leq x-h\leq r
    \\&\implies h-r\leq x\leq h+r
p Enfin, pour un cercle d'équation #[+eqref("cercle-canonique")], #[+e() x\in[h-r,h+r].]

+example()
    p Quelle est l'équation canonique d'un cercle de rayon #[+e() 4] centré au point #[+e() A=(-4,7)]?
    p À partir de l'équation #[+eqref("cercle-canonique")], si #[+e() r=4] et #[+e() A=(h,k)=(-4,7)], alors l'équation du cercle devient #[+e() (x+4)^2+(y-7)^2=4^2.]

+example()
    p Existe-t-il un point sur la circonférence d'un cercle d'équation #[+e() (x-2)^2+(y+7)^2=16] dont l'abscisse est #[+e() -2]?
    p À partir de l'équation #[+eqref("cercle-canonique")], #[+e() r=\sqrt{16}=4] et #[+e() (h,k)=(2,-7).] Sachant que le domaine d'un tel cercle est #[+e() [h-r,h+r]], nous pouvons vérifier que #[+e() -2\in[-2,6].]

+h(2, "Le cercle dans le plan cartésien")

p Le cercle, tout comme les autre coniques, sont des équations implicites. Par conséquent, il est impossible d'isoler #[+e() x] ou #[+e() y] des équations #[+eqref("cercle-centre-0")] et #[+eqref("cercle-canonique")]. Tentons d'isoler #[+e() x] et #[+e() y] dans l'équation #[+eqref("cercle-centre-0")].
+eq().
    x^2+y^2&=r^2
    \\x^2&=r^2-y^2
    \\|x|&=\sqrt{r^2-y^2}
    \\x&=\begin{cases} \sqrt{r^2-y^2} \\ -\sqrt{r^2-y^2} \end{cases}
+eq().
    x^2+y^2&=r^2
    \\y^2&=r^2-x^2
    \\|y|&=\sqrt{r^2-x^2}
    \\y&=\begin{cases} \sqrt{r^2-x^2} \\ -\sqrt{r^2-x^2} \end{cases}
p Les fonctions par parties résultantes n'ont pas de domaine qui leur soit unique. En effet, un cercle ne peut pas être une fonction puisqu'il existe plusieurs valeurs d'ordonnée #[+e() y] pour une même valeur d'abscisse #[+e() x.] Cependant, les fonctions résultantes s'avèrent intéressantes: chacune d'entre elles représente une moitié du cercle. Par ce, #[+e() x=\sqrt{r^2-y^2}] décrit la moitié droite du cercle, #[+e() x=-\sqrt{r^2-y^2}] décrit sa moitié gauche, #[+e() y=\sqrt{r^2-x^2}] décrit sa moitié haute et #[+e() y=-\sqrt{r^2-x^2}] décrit sa moitié basse. Si nous voulions résoudre des équations impliquant des cercles, il nous faudrait considérer le couple d'équations décrivant le cercle et essentiellement effectuer deux fois les mêmes étapes de résolution, ou nous pourrions nous servir de la substitution.
+h(3, "L'intersection d'un cercle et d'une droite")
p Soit un cercle d'équation #[+eqref("cercle-canonique")] et une droite d'équation #[+e() y=mx+b\Longleftrightarrow x=\dfrac{y-b}{m}.] Lorsqu'on cherche le ou les points d'intersection entre une droite et un cercle, il suffit de substituer l'équation de la droite dans celle du cercle. Si #[+e() y=mx+b], alors il suffit de remplacer #[+e() y] par #[+e() mx+b] dans l'équation #[+eqref("cercle-canonique")].
+eq().
    (x-h)^2+(y-k)^2&=r^2
    \\(x-h)^2+(\color{blue}{mx+b}-k)^2&=r^2&&\color{blue}{\text{Par substitution}}
p Si en revanche #[+e() x=\dfrac{y-b}{m}], alors il suffit de remplacer #[+e() x] par #[+e() \dfrac{y-b}{m}] dans l'équation #[+eqref("cercle-canonique")].
+eq().
    (x-h)^2+(y-k)^2&=r^2
    \\\left(\color{blue}{\dfrac{y-b}{m}}-h\right)^2+(y-k)^2&=r^2&&\color{blue}{\text{Par substitution}}

+example()
    p Soit un cercle d'équation #[+e() (x-5)^2+(y-2)^2=25] et une droite d'équation #[+e() y=-2x+10.] Quels sont leurs points d'intersection s'il y en a?
    p Il suffit de substituer l'équation de la droite dans celle du cercle pour éliminer une des variables manquantes.
    +eq().
        (x-5)^2+(y-2)^2&=25
        \\(x-5)^2+(\color{blue}{-2x+10}-2)^2&=25&&\color{blue}{\text{Par substitution}}
        \\(x-5)^2+(-2x+8)^2&=25
        \\(x^2-10x+25)+(4x^2-32x+64)&=25
        \\5x^2-10x-32x+64&=0
        \\5x(x-2)-32(x-2)&=0
        \\(5x-32)(x-2)&=0
        \\&\begin{cases}5x-32=0\\x-2=0\end{cases}
        \\&\begin{cases}x=\dfrac{32}{5}\\x=2\end{cases}
    p Connaissant l'abscisse des points de la solution, il ne reste plus qu'à substituer leur valeur dans l'équation de la droite.
    +eq().
        y&=-2x+10
        \\&=-2\left(\color{blue}{\dfrac{32}{5}}\right)+10&&\color{blue}{\text{Par substitution}}
        \\&=-\dfrac{64}{5}+10
        \\&=\dfrac{50-64}{5}
        \\&=-\dfrac{14}{5}
    +eq().
        y&=-2x+10
        \\&=-2(\color{blue}{2})+10&&\color{blue}{\text{Par substitution}}
        \\&=6
    p Les points d'intersection entre la droite et le cercle sont donc #[+e() \left(\dfrac{32}{5},-\dfrac{14}{5}\right)] et #[+e() (2,6).]
    +fig("exemple-intersection-cercle-droite-deux-solutions.svg").
        Réponse à l'exemple #{exampleNo}.
        
+example()
    p Soit un cercle d'équation #[+e() x^2+(y-1)^2=5] et une droite d'équation #[+e() y-2x=6.] Quels sont leurs points d'intersection s'il y en a?
    p Il suffit d'isoler #[+e() x] ou #[+e() y] dans l'équation de la droite et de substituer l'expression résultante dans l'équation du cercle pour éliminer une des variables manquantes.
    +eq().
        y-2x&=6
        \\y&=6+2x
    +eq().
        x^2+(y-1)^2&=5
        \\x^2+(\color{blue}{6+2x}-1)^2&=5&&\color{blue}{\text{Par substitution}}
        \\x^2+(5+2x)^2&=5
        \\x^2+25+20x+4x^2&=5
        \\5x^2+20x+25&=5
        \\x^2+4x+5&=1
        \\x^2+4x+4&=0
        \\(x+2)^2&=0
        \\x+2&=0
        \\x&=-2
    p Connaissant l'abscisse du point de la solution, il ne reste plus qu'à la substituer dans l'équation de la droite.
    +eq().
        y&=6+2x
        \\y&=6+2(\color{blue}{-2})&&\color{blue}{\text{Par substitution}}
        \\y&=2
    p Le point d'intersection entre la droite et le cercle est donc #[+e() (-2,2).]
    +fig("exemple-intersection-cercle-droite-une-solution.svg").
        Réponse à l'exemple #{exampleNo}.
        
+example()
    p Soit un cercle d'équation #[+e() x^2+(y-5)^2=4] et une droite d'équation #[+e() y=x+1.] Quels sont leurs points d'intersection s'il y en a?
    p Il suffit de substituer l'équation de la droite dans celle du cercle pour éliminer une des variables manquantes.
    +eq().
        x^2+(y-5)^2&=4
        \\x^2+(\color{blue}{x+1}-5)^2&=4&&\color{blue}{\text{Par substitution}}
        \\x^2+(x-4)^2&=4
        \\x^2+x^2-8x+16&=4
        \\2x^2-8x+12&=0
        \\x^2-4x+6&=0
        \\x&=\dfrac{4\pm\sqrt{(-4)^2-4\cdot 1\cdot 6}}{2\cdot 1}
        \\&=\dfrac{4\pm\sqrt{16-24}}{2}
        \\&=\dfrac{4\pm\sqrt{-8}}{2}
    p Puisque le discriminant de l'expression #[+e() x^2-4x+6=0] est négatif, il n'y a pas de solutions à l'équation. Par conséquent, il n'y a pas de point d'intersection entre le cercle et la droite. 
    +fig("exemple-intersection-cercle-droite-aucune-solution.svg").
        Réponse à l'exemple #{exampleNo}.

+h(3, "Les droites tangentes à un cercle")
+definition("Les droites tangentes")
    p Une droite tangente à une courbe n'a qu'un point d'intersection avec la courbe.
p Les droites tangentes à n'importe que cercle sont particulières. Soit un cercle quelconque et un segment de droite reliant son centre à un point sur sa circonférence. Une droite ne pourra être tangente à ce point sur la circonférence que si la droite et le segment de droite sont perpendiculaires.

+theorem("Les droites tangentes à un cercle")
    p Une droite tangente en un point #[+e() P] sur la circonférence d'un cercle centré en #[+e() Q] est perpendiculaire au segment de droite #[+e() \overline{QP}.]
    +proof()
        p Soit le centre #[+e() Q=(h,k)] d'un cercle de rayon #[+e() r]. Soit #[+e() P], un point sur une droite d'équation #[+e() y=k-r]. Le point #[+e() P] ne peut être le point de tangence entre le cercle et la droite que si le segment #[+e() \overline{QP}] est perpendiculaire à la droite, là où #[+e() \overline{QP}=r,] sa valeur minimale. En effet, pour tous #[+e() P] différents du point de tangence, il existe une distance #[+e() r&lt;\overline{QP}.]
        +fig("preuve-perpendicularite-droite-tangente-cercle.svg").
            Construction de la preuve #{proofNo}.
p En vertu du théorème #{theoremNo}, il sera possible de déterminer l'équation de la droite tangente à un cercle. Considérant un cercle d'équation #[+eqref("cercle-canonique")] et un point #[+e() P=(x,y)] sur sa circonférence, 

+h(3, "Les inéquations et le cercle")

+h(2, "La forme générale de l'équation du cercle")

//-+example()
    p Quelles sont les coordonnées du centre d'un cercle d'équation 