//- Provides the head element of the current document.
head(
    prefix!=
        "og: http://ogp.me/ns# " 
        + "fb: http://ogp.me/ns/fb# " 
        + "article: http://ogp.me/ns/article# "
        + "website: http://ogp.me/ns/website# "
)
    //- Mandatory tag for mobile scaling
    meta(
        name="viewport" 
        content="width=device-width, initial-scale=1.0"
    )

    //- Description
    -let description;
    if Current.content().description
        -description = Current.content().description;
    if description
        meta(
            name='description'
            content!=description
        )
        meta(
            property='og:description'
            content!=description
        )
        meta(
            name='twitter:description'
            content!=description
        )
        if description.length > 155
            -
                console.warn("Document description exceeds 155 characters.");
                console.log(
                    "Document description length: " + description.length
                );
    else 
        -
            console.warn("No document description provided.");

    //- Authentifications
    meta(
        name="google-site-verification" 
        content!=Site.auth().googleSearchConsole
    )
    meta(
        name="msvalidate.01"
        content!=Site.auth().bingWebmaster
    )
    meta(
        property='fb:app_id' 
        content!=Site.auth().facebookAppId
    )
    meta(
        name="yandex-verification" 
        content!=Site.auth().yandexWebmaster
    )

    //- OpenGraph
    meta(
        property='og:url'
        content!=Current.url()
    )
    meta(
        property='og:site_name'
        content!=Site.globals().siteName
    )
    if Current.locale()
        meta(
            property='og:locale'
            content!=Current.localeSlug().replace('-', '_')
        )
    -let type;
    if Current.isArticle()
        -type = "article";
    else
        -type = "website";
    meta(
        property='og:type'
        content!=type
    )
    
    //- Thumbnail
    -let thumbnailFile;
    if Current.category() && Current.category().thumbnailFile
        -thumbnailFile = Site.url() + Current.category().thumbnailFile;
    else
        //- Compute the default thumbnail image location
        -
            thumbnailFile = Site.url() 
                + Site.globals().thumbnailsFolder 
                + "thumbnail-dark.png";
    -let thumbnailExtension = Utils.fileExtension(thumbnailFile);
    -let thumbnailWidth = 300;
    -let thumbnailHeight = 300;
    meta(
        property='og:image' 
        content!=thumbnailFile
    )
    meta(
        property='og:image:type' 
        content!="image/" + thumbnailExtension
    )
    meta(
        property='og:image:width'
        content!=thumbnailWidth
    )
    meta(
        property='og:image:height' 
        content!=thumbnailHeight
    )

    //- Title
    -let title;
    if Current.content().headline
        -title = Current.content().headline;
    else
        -title = Site.globals().siteName;
    title!=title
    meta(
        property='og:title'
        content!=title
    )
    meta(
        name='twitter:title'
        content!=title
    )

    //- Twitter
    meta(
        name='twitter:card' 
        content="summary"
    )
    meta(
        name='twitter:site' 
        content!=Site.profiles().twitter
    )
    meta(
        name='twitter:image' 
        content!=thumbnailFile.replace("https://", "http://")
    )

    //- Publisher
    if Current.isArticle()
        link(
            rel="publisher"
            href!="https://plus.google.com/" + Site.profiles().googlePlus
        )

    //- Favicon
    include _favicon

    //- AdSense
    if environment === "production" && Current.isArticle() 
        script(
            async 
            src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"
        )
        script.
            (adsbygoogle = window.adsbygoogle || []).push({
                google_ad_client: "#{Site.auth().googleAdSense}",
                enable_page_level_ads: true
            });

    //- Stylesheets
    include _stylesheets

    //- Flag icons stylesheets
    if !Current.locale()
        include ../plugins/_flag-icons-stylesheets

    //- Prism stylesheets
    if Current.content().containsCode
        include ../plugins/_prism-stylesheets