-
    /**
    * The localized variables of the site footer.
    */
    const localizedVariables = LOCALE.variables.template.siteFooter;

    /**
    * The icons to display in the footer next to page links based on the page's
    * type.
    */
    const FOOTER_PAGE_ICONS = {
        'index': 'home',
        'about': 'info-circle',
        'sitemap': 'sitemap',
        'search': 'search',
        'privacy-policy': 'lock',
        'locales': 'globe',
        'source': 'code-fork',
    };

//- Adds a Font Awesome icon based on a type of page. If there is no icon
    specified for the given type, then no icon is added.
    @param {String} type the type of the page.
mixin pageIcon(type)
    if (FOOTER_PAGE_ICONS[type])
        i.fa.fa-fw(class='fa-' + FOOTER_PAGE_ICONS[type])

-
    /**
    * If the icon of a social media is not defined in {@code SOCIAL_TYPES}, then
    * use this icon.
    */
    const FALLBACK_SOCIAL_ICON = 'fa-question';

    /**
    * The types of social medias, their root URL and their associate icons. The
    * social media profile of the website is appended to the URL in this list.
    */
    const SOCIAL_TYPES = {
        'facebookPage': {'url': 'https://www.facebook.com/', 
            'icon': 'facebook-f'},
        'twitterAccount': {'url': 'https://twitter.com/', 
            'icon': 'twitter'},
        'googlePlusAccount': {'url': 'https://plus.google.com/', 
            'icon': 'google-plus'},
        'githubAccount': {'url': 'https://github.com/', 'icon': 'github'},
        'emailAddress': {'url': 'mailto:', 'icon': 'envelope'},
        'rssFeed': {'icon': 'rss'},
    };

//- Adds a social icon of a given type stacked above a rounded square icon. If
    the social media's type is not specified, then the 
    {@code FALLBACK_SOCIAL_ICON} is used instead.
mixin socialIcon(type)
    span.fa-stack
        i.fa.fa-fw.fa-square.fa-stack-2x
        if SOCIAL_TYPES[type].icon
            i.fa.fa-fw.fa-inverse.fa-stack-1x(
                class='fa-' + SOCIAL_TYPES[type].icon)
        else
            i.fa.fa-fw.fa-inverse.fa-stack-1x(class=FALLBACK_SOCIAL_ICON)

footer#site-footer.row.middle-xs.between-xs.center-xs
    .col-xs-12.col-md-9.start-md
        nav.pages
            //- Copyright notice
            span.copyright='© ' + moment().year() + ' ' + WEBSITE.name
            //- Locale's root pages
            each page in LOCALE.pages
                if page.type !== 'locales' || WEBSITE.locales.length > 1
                    a(href=page.relativePath)
                        +pageIcon(page.type)
                        =page.headline
            //- Source link
            if WEBSITE.sourceUrl
                if !localizedVariables.source
                    -
                        throw new Error('No defined localized variable for the '
                            + 'source link.');
                else
                    a(href=WEBSITE.sourceUrl)
                        +pageIcon('source')
                        =localizedVariables.source
    .col-xs-12.col-md-3.end-md
        nav.social
            //- RSS feed
            if WEBSITE.contents(LOCALE.path).includes('feed.xml')
                a(href=WEBSITE.toUrl(LOCALE.path.concat(['feed.xml'])))
                    +socialIcon('rssFeed')
            //- Social profiles
            each socialProfile, title in WEBSITE.socialProfiles
                a(href=SOCIAL_TYPES[title].url + Website.decode(socialProfile))
                    +socialIcon(title)
