section.authors
    hr
    for author in Current.content().authors
        section(
            id!=author.id 
            itemprop="author"
            itemscope
            itemtype="http://schema.org/Person"
        )
            header
                a(href!=author.path itemprop="url")
                    img(
                        itemprop="image" 
                        src!=author.profilePictureFile 
                        alt!=author.fullName
                    )
                    span(itemprop="name")!=author.fullName
            p!=author.bio
        hr