//- Stacks an icon of a given class above a square.
mixin iconStackButton(foregroundIconClass, backgroundIconClass)
    span.fa-stack
        i.fa.fa-stack-2x(class!=backgroundIconClass)
        i.fa.fa-stack-1x.fa-inverse(class!=foregroundIconClass)

-var backgroundIconClass = "fa-square";

//- Facebook share icon
li: a.social-share-popup.facebook(
        href!="//www.facebook.com/sharer/sharer.php?u=" + Current.url()
        target='_blank'
        rel="nofollow"
    )
    +iconStackButton("fa-facebook", backgroundIconClass)

//- Twitter share icon
li: a.social-share-popup.twitter(
        href!="//twitter.com/intent/tweet?url=" + Current.url() + "&via=" + public._data.globals.profiles.twitter 
        target='_blank'
        rel="nofollow"
    )
    +iconStackButton("fa-twitter", backgroundIconClass)

//- Google+ share icon
li: a.social-share-popup.google-plus(
        href!="//plus.google.com/share?url=" + Current.url()
        target='_blank'
        rel="nofollow"
    )
    +iconStackButton("fa-google-plus", backgroundIconClass)

//- Reddit share icon
li: a.social-share-popup.reddit(
        href!="//www.reddit.com/submit?url=" + Current.url()
        target='_blank'
        rel="nofollow"
    )
    +iconStackButton("fa-reddit", backgroundIconClass)

if Current.isArticle() && Current.content().allowsComments
    //- Comment icon
    li: a.comment(
            href="#disqus_thread"
            rel="nofollow"
        )
        +iconStackButton("fa-comment", backgroundIconClass)