-
    var titles;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        titles = localeVariables.secondaryNavigation.socialTitles;
    }
    var backgroundIcon = "fa-square";

mixin socialLink(label, href, icon)
    if href && icon
        if label
            li: a(
                href!=href
                target='_blank'
                aria-label!=label
            )
                +iconStackButton(icon, backgroundIcon)
        else
            li: a(
                href!=href
                target='_blank'
            )
                +iconStackButton(icon, backgroundIcon)

if titles
    //- RSS feed icon
    +socialLink(
        titles.rss, 
        '/' + Current.localeSlug() + "/feed.xml", 
        "fa-rss"
    )

    //- Facebook page icon
    +socialLink(
        titles.facebook, 
        "https://www.facebook.com/" + Site.profiles().facebook, 
        "fa-facebook"
    )

    //- Twitter feed icon
    +socialLink(
        titles.twitter, 
        "https://twitter.com/" + Site.profiles().twitter, 
        "fa-twitter"
    )

    //- Google+ profile icon
    +socialLink(
        titles.googlePlus, 
        "https://plus.google.com/" + Site.profiles().googlePlus, 
        "fa-google-plus"
    )

    //- Github profile icon
    +socialLink(
        titles.github, 
        "https://github.com/" + Site.profiles().github, 
        "fa-github"
    )

    //- Email icon
    +socialLink(
        titles.email, 
        "mailto:" + Site.profiles().mail, 
        "fa-envelope"
    )