include /_jade/mixins/helper/_icon-stack-button
include /_jade/base/_functions

-
    /**
        Fetches the titles of social links in the variables
        of the current locale.
    */
    function fetchSocialTitles() {
        var variables = fetchCurrentLocaleVariables();
        if (variables) {
            if (variables.footer) {
                if (variables.footer.socialTitle) {
                    return variables.footer.socialTitle;
                } else {
                    console.warn(
                        "Warning: Undefined footer.socialTitle "
                        + "property in " 
                        + getCurrentOgLocale() 
                        + " variables."
                    );
                }
            } else {
                console.warn(
                    "Warning: Undefined footer property in " 
                    + getCurrentOgLocale() 
                    + " variables."
                );
            }
        }
    }

    var titles = fetchSocialTitles();
    var backgroundIcon = "fa-square";

mixin socialLink(label, href, icon)
    if href && icon
        if label
            li: a(
                href!=href
                target='_blank'
                aria-label!=label
            )
                +iconStackButton(icon, backgroundIcon)
        else
            li: a(
                href!=href
                target='_blank'
            )
                +iconStackButton(icon, backgroundIcon)
    else
        -
            console.warn(
                "Warning: Undefined href and/or icon in social links."
            );


if titles
    //- RSS feed icon
    +socialLink(
        titles.rss, 
        '/' + getCurrentOgLocale() + "/feed.xml", 
        "fa-rss"
    )

    //- Facebook page icon
    +socialLink(
        titles.facebook, 
        "https://www.facebook.com/" + public._data.globals.profiles.facebook, 
        "fa-facebook"
    )

    //- Twitter feed icon
    +socialLink(
        titles.twitter, 
        "https://twitter.com/" + public._data.globals.profiles.twitter, 
        "fa-twitter"
    )

    //- Google+ profile icon
    +socialLink(
        titles.googlePlus, 
        "https://plus.google.com/" + public._data.globals.profiles.googlePlus, 
        "fa-google-plus"
    )

    //- Github profile icon
    +socialLink(
        titles.github, 
        "https://github.com/" + public._data.globals.profiles.github, 
        "fa-github"
    )

    //- Email icon
    +socialLink(
        titles.email, 
        "mailto:" + public._data.globals.profiles.mail, 
        "fa-envelope"
    )