//- Retrieve the localized variables for the prompts
-
    var prompts;
    if (Current.locale()) {
        let localeVariables = Current.locale().variables;
        prompts = localeVariables.prompts;
    }

//- Provides the listing of the authors of the current document. Used at the end
    of articles.
div.authors#authors(role="region" aria-labelledby="authors")
    hr
    for author in Current.content().authors
        div(
            id!=author.id 
            itemprop="author"
            itemscope
            itemtype="http://schema.org/Person"
            role="region" 
            aria-labelledby!=author.id
        )
            //- Link to the author
            header: a(href!=author.path itemprop="url")
                //- Add the profile picture of the author
                img(
                    itemprop="image" 
                    src!=author.profilePictureFile 
                    alt!=author.fullName
                )
                //- Add the name of the author
                span(itemprop="name")!=author.fullName
            //- Add the biography of the author
            p!=author.bio
        hr