h1 Current

h2 Url
pre!=Current.url()
h3 Path fragments
pre!=Utils.stringify(Current.pathFragments())
h3 Path
pre!=Current.path()
h3 Slug
pre!=Current.slug()

h2 Locale
details
    pre!=Utils.stringify(Current.locale())
h3 Locale slug
pre!=Current.localeSlug()

h2 Root
details
    pre!=Utils.stringify(Current.root())

h2 Parent root
details
    pre!=Utils.stringify(Current.parentRoot())

h2 Breadcrumbs
details
    pre!=Utils.stringify(Current.breadcrumbs())

h2 Category
h3 Path fragments
pre!=Utils.stringify(Current.categoryFragments())
h3 Path
pre!=Current.categoryPath()
h3 Slug
pre!=Current.categorySlug()
h3 Current category
details
    pre!=Utils.stringify(Current.category())

h2 Metadata
h3 Is a page?
pre!=Current.isPage()
h3 Is an article?
pre!=Current.isArticle()
h3 Content
details
    pre!=Utils.stringify(Current.content())

h2 Figures
details
    pre!=Utils.stringify(Current.figures())